.ui.grid>.row {
  padding-bottom: 0;
}

.ui.label.emblem-valid > .icon {
  margin: 0;
}

.ui.grid > .row.game-actions-wrapper {
  padding: 1em 0 0.5em 0;
}

.player.player-dead {
  color: #B03060;
}

.ui.bulleted.list.event-list {
  margin-top: 10px;
}

.menu-title {
  margin-right: 5px;
}

.group-players-card__content {
  display: flex;
  justify-content: space-between;
}

.ui.card.group-players-card >.content.group-players-card__content::after {
  content: none;
}
